<head>
  <title><%= @movie.upcase%></title>
  <h1>Movie: <%= @movie.upcase%></h1>
</head>

<body>


  <div class="row">
    <div class="col-md-8">
        <p>Synopsis:</p><br><d> <%= @synopsis%></d>
    </div>
    <div class="col-md-4">
      <dl>

        <%= form_tag(movies_search_path, method: "get") do %>
        <%= label_tag(:q, "Search Movies:") %>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
        <% end %>
        <br>
        <dt>Main Cast: </dt>
        <dd><%= @cast.join(", ") + "."%>
        <br><br>
        <dt>Runtime: </dt>
        <dd><%= @time.to_s + " minutes"%></dd>
        <br>
        <dt>Critic Rating: </dt>
        <dd><%= @critic.to_s + "/100"%></dd>
        <br>
        <dt>Audience Rating: </dt>
        <dd><%= @audience.to_s + "/100"%></dd>
        <br>
        <img src=<%= @posterurl%> alt="Whoops!" height="345" />
      </dl>
    </div>

  </div>



  <br>
</body>
